<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB PORTAL</title>
</head>
<body>
    <div>
        <header><h1>QUIZ PORTAL</h1></header>
    </div>
    <div>
        <button><h2>Teacher</h2></button>
        <button><h2>Student</h2></button>
        <button><h2>Assessment</h2></button>
    </div>
</body>
</html>